[Unit]
Description=Try reconnecting bluetooth devices
After=graphical-session.target pulseaudio.service bluetooth.service pipewire.service

[Service]
ExecStart=/home/kov/.kov/scripts/bluetooth-reconnect.sh
Restart=no

[Install]
WantedBy=graphical-session.target

