configuration {
  font: "IBM Plex Sans Medium 14";
  hover-select: true;
  me-select-entry: "";
  me-accept-entry: "MousePrimary";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
  window {
      transparency: "real";
  }
  drun {
      display-name: "";
  }
  run {
      display-name: "";
  }
}

@theme "themes/kov"

